@media screen and(min-width: 600px){

}

@media screen and (min-width: 800px){

  body{
    height: 100%;
    width: 100%;
  }
  
  header{
    height: 80px;
  }
  
  .header-container{
    margin-left: 15px;
    float: left;
  }

  .mama {
    text-align: center;
    color: #fdfdfd;
    font-size: 50px;
    font-weight: 500;
    line-height: 80px;
  }
  
  .icons{
    all: unset;
  }

  .icons{
    font-size: 17px;
    color: #fdfdfd;
    display: block;
    line-height: 80px;
    float: right;
  }
    

  .icons ul li {
    transition: transform 0.4s;
    flex: none;
    padding-right: 30px;
  }
  
  .icons ul li i{
    display: inline-block;
    padding: 5px;
    transform: scale(1.2);
  }
  
  .icons ul li i:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.5);
  }
  
  .fa-user:hover{
    color: cornflowerblue;
  }
  
  .fa-shopping-cart:hover{
    color: rgb(245, 190, 11);
  }
  
  .fa-heart:hover{
    color: palevioletred;
  }
  
  .fa-search:hover{
    color: rgb(44, 42, 42);
  }
  
  .menu {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  .menu a:hover {
    color: #45b39d;
    transition: 0.3s;
  }
  
  footer {
    height: 400px;
    width: 100%;
    background-color: #f2f7b9d2;
  }
  
  .sns { 
    width: 100%;
  }
  
  .sns ul {
    text-align: center;
  }
  
  .sns ul li{
    display: inline-block;
    margin: 35px;
    transform: scale(1.1);
  }
  
  .sns li a:hover {
    transition: 0.2s;
  }

  .insta:hover{
    background: #d6249f;
    background-clip: text;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }

  .twitter:hover{
    color: rgb(29, 161, 242);
  }

  .facebook:hover{
    color: rgb(66, 103, 178);
  }

.footer-contents{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.contents{
  margin: 40px;
}

  .copyright{
    bottom: 0;
    padding-bottom: 8px;
  }
  
}

@media screen and (min-width: 1500px){
  body{
    max-width: 63%;
    margin: 0 auto;
  }
}