@media screen and(min-width: 800px){
body{
  width: 100%;
}

.menu{
  width: 80%;
}

.icons ul li i:hover{
  cursor: pointer;
}

.contents{
  padding: 0 45px;
}
}

@media screen and (min-width: 1000px){

  body{
    height: 100%;
    width: 100%;
  }
  
  header{
    height: 80px;
  }
  
  .header-container{
    width: 100%;
    margin: 0 auto;
    /* display: inline-block; */
  }

  .mama {
    color: #fdfdfd;
    font-size: 50px;
    font-weight: 500;
    line-height: 80px;
    margin-left: 55px;
    float: left;
  }
  
  .search-bar{
    display: inline-block;
    line-height: 80px;
    margin-left: 100px;
  }

  .search-bar .search-input[type=text]{
    width: 450px;
    height: 40px;
    position: relative;
    padding: 15px 30px 15px 17px;
    color: lightslategray;
    font-size: 17px;
    border: none;
    border-radius: 50px;
    outline: none;
    transition: 0.5s ease;
    background: #fff;
  }

  .fa-search{
    position: relative;
    left: -35px;
    top: -2px;
    font-size: 20px;
    color: rgb(131, 136, 129);
    cursor: pointer;
  }

  .fa-search:hover{
    color: lightslategray;
  }
  
  .icons{
    all: unset;
  }

  .icons{
    font-size: 17px;
    color: #fdfdfd;
    display: block;
    line-height: 80px;
    float: right;
  }
    
  .mobile{
    display: none;
  }

  .icons ul li {
    transition: transform 0.4s;
    flex: none;
    padding-right: 30px;
  }
  
  .icons ul li i{
    display: inline-block;
    padding: 5px;
    transform: scale(1.2);
  }
  
  .icons ul li i:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.4);
  }

  .fa-user:hover{
    color: cornflowerblue;
  }
  
  .fa-shopping-cart:hover{
    color: rgb(245, 190, 11);
  }
  
  .fa-heart:hover{
    color: palevioletred;
  }
  
  .menu {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .menu ul li a{
    padding: 0 34px;
  }

  .menu a:hover {
    color: #45b39d;
    transition: 0.3s;
  }
  
  footer {
    height: 400px;
    width: 100%;
    background-color: #f2f7b9d2;
  }
  
  .sns { 
    width: 100%;
  }
  
  .sns ul {
    text-align: center;
  }
  
  .sns ul li{
    display: inline-block;
    margin: 35px;
    transform: scale(1.1);
  }
  
  .sns li a:hover {
    transition: 0.2s;
  }

  .insta:hover{
    background: #d6249f;
    background-clip: text;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }

  .twitter:hover{
    color: rgb(29, 161, 242);
  }

  .facebook:hover{
    color: rgb(66, 103, 178);
  }

.footer-contents{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.contents{
  margin: 40px;
}

  .copyright{
    bottom: 0;
    padding-bottom: 8px;
  }
  
}

@media screen and (min-width: 1500px){
  body{
    max-width: 63%;
    margin: 0 auto;
  }
}