* {
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  width: 100%;
  background: white;
  color: lightslategray;
}

header{
  background-color: rgba(69, 179, 157, 0.753);
  text-align: center;
  height: 50px;
}

.mama{
  line-height: 50px;
  font-size: 30px;
  color: #fdfdfd;
}

.icons{
  background-color: lightyellow;
  width: 100%;
  height: 62px;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  line-height: 40px;
  text-align: center;
  z-index: 10;
}

.icons ul{
  display: flex;
}

.icons ul li{
  flex: 1;
}

.fa-user:active{
  color: cornflowerblue;
}

.fa-shopping-cart:active{
  color: rgb(245, 190, 11);
}

.fa-heart:active{
  color: palevioletred;
}

.fa-search:active{
  color: rgb(44, 42, 42);
}

.menu{
  width: 100%;
  height: 50px;
  overflow: auto;
  white-space: nowrap;
  font-weight: bold;
  font-size: large;
}
.menu ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.menu ul li a{
  color: lightslategrey;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  margin: 0 15px;
}

.menu a:active {
  color: #45b39d;
}

main{
  height: 100vh;
  background-color: rgb(243, 243, 243);
}

footer{
  width: 100%;
  height: 340px;
  position: relative;
}

.sns { 
  width: 100%;
}

.sns ul {
  text-align: center;
  width: 100%;
}

.sns ul li{
  display: inline-block;
  margin: 15px;
  font-size: 40px;
}

.sns li a {
  color: rgba(119, 136, 153, 0.678);
}

.sns li a:active {
  transition: 0.2s;
}

.insta:active{
  background: #d6249f;
  background-clip: text;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.twitter:active{
  color: rgb(29, 161, 242);
}

.facebook:active{
  color: rgb(66, 103, 178);
}

.footer-contents{
  width: 100%;
}

.footer-contents ul li{
  padding: 10px 0;
}

.footer-contents ul li a{
  color: lightslategrey;
  font-size: 17px;
  font-weight: 550;
}

.contents{
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
}

.footer-contents ul li a:active{
  color: #45b39d;
}

.copyright{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 69px;
}